body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #661ab8;
}

.signup-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup-container .input {
    margin-bottom: 15px;
}

.signup-container .input label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.signup-container .input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e5e5ee;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f1f1;
   color: #333;
}



.signup-container button {
    width: 100%;
    padding: 10px;
    background:#661ab8;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container button:hover {
    background: #661ab8;
}

.signup-container .login{
    color: #333;
    text-align: center;
    margin-top: 15px;
}

.signup-container .login a {
    color: #661ab8;
    text-decoration: none;
}

.signup-container .login a:hover {
    text-decoration: underline;
}